<nav class="navbar navbar-inverse">
  <div class="container">
    <h1>{{title}}</h1>
  </div>
</nav>
<div class="container">
  <div class="well well-lg">
    <form (ngSubmit)="onSubmit()" #photoDetailsForm="ngForm">
      <div class="form-group">
        <input required type="text" class="form-control" placeholder="Image URL" name="imageUrl" [(ngModel)]="formPhotoDetails.imageUrl">
      </div>
      <div class="form-group">
        <input required type="text" class="form-control" placeholder="Caption" name="caption" [(ngModel)]="formPhotoDetails.caption">
      </div>
      <br>
      <button [disabled]="!photoDetailsForm.form.valid" type="submit" class="btn btn-default pull-right">{{formPhotoDetails.$key ? 'Edit' : 'Submit'}}</button>
      <div class="clearfix"></div>
    </form>
  </div>
</div>
<hr>
<div id="wrapper">
  <div id="columns">
    <div class="pin" *ngFor="let photoDetails of (photoDetailsStream | async) | reverse">
      <div class="pull-right edit-actions">
        <button type="button" class="btn btn-success btn-xs">
          <span class="glyphicon glyphicon-pencil" (click)="edit(photoDetails)"></span>
        </button>
        <button type="button" class="btn btn-danger btn-xs">
          <span class="glyphicon glyphicon-trash" (click)="remove(photoDetails)"></span>
        </button>
      </div>
      <img [src]="photoDetails.imageUrl" alt="A photo">
      <p class="caption">{{ photoDetails.caption }}</p>
    </div>
  </div>
</div>